For the informations that are not about people (and likely not on Wikidata) I'll try a different strategy. 


For each section of each page, I'll get the Wikitext. 

From the wikitext, I'll extract, for each entry in a section:
    
    - the date string
    - the full wikitext of the section

Then I'll build functions to:
    - Parse date string in two (if possible)
    - Get the first link of the entry
    - Get the additional link URLs of the entry
    - Convert wikitext into readable human text.

In [2]:
import requests
from functions import functions
import pandas as pd

sections_df = functions.get_sections_dataframe("17th_century")
sections_df.head()

,toclevel,level,line,number,index,fromtitle,byteoffset,anchor
0,1,2,Events,1,1,17th_century,7373,Events
1,2,3,1601–1650,1.1,2,17th_century,7423,1601–1650
2,2,3,1651–1700,1.2,3,17th_century,17327,1651–1700
3,1,2,Significant people,2,4,17th_century,23000,Significant_people
4,2,3,Musicians,2.1,5,17th_century,27283,Musicians

I'll start the exploration with the first section: Events

In [3]:
page = "17th_century"
section = "1"

df = functions.get_bullets_on_page_section(page, section)
df.head()

          date_string                                    wikitext_string
0            [[1600]]   [[Michael the Brave]] unifies the three [[Rom...
1            [[1601]]   [[Battle of Kinsale]], England defeats Irish ...
2   [[1601]]–[[1603]]   The [[Russian famine of 1601–1603]] kills per...
3            [[1602]]   [[Matteo Ricci]] produces the [[Kunyu Wanguo ...
4            [[1602]]   The [[Dutch East India Company]] (VOC) is est...

In [4]:
df["id"] = ["entry_" + str(a+ 1)for a in df.index ]

Nice, now we have the raw material to build further. We will use a Python library for wikitext to extract the informations of interest. This is the library that will be used:
https://pypi.org/project/wikitextparser/#id11

In [5]:
import wikitextparser as wtp

In [6]:
df = functions.get_years_from_bullets(df)
df.head()

,date_string,wikitext_string,id,from_year,to_year
0,[[1600]],[[Michael the Brave]] unifies the three [[Rom...,entry_1,1600,None
1,[[1601]],"[[Battle of Kinsale]], England defeats Irish ...",entry_2,1601,None
2,[[1601]]–[[1603]],The [[Russian famine of 1601–1603]] kills per...,entry_3,1601,1603
3,[[1602]],[[Matteo Ricci]] produces the [[Kunyu Wanguo ...,entry_4,1602,None
4,[[1602]],The [[Dutch East India Company]] (VOC) is est...,entry_5,1602,None

Ok, now I extracted the dates. Hooray. now lets get the snippet in plain text.

In [7]:
df = functions.get_main_text(df)
df.head()

,date_string,wikitext_string,id,from_year,to_year,main_text
0,[[1600]],[[Michael the Brave]] unifies the three [[Rom...,entry_1,1600,None,Michael the Brave unifies the three Romanian ...
1,[[1601]],"[[Battle of Kinsale]], England defeats Irish ...",entry_2,1601,None,"Battle of Kinsale, England defeats Irish and ..."
2,[[1601]]–[[1603]],The [[Russian famine of 1601–1603]] kills per...,entry_3,1601,1603,The Russian famine of 1601–1603 kills perhaps...
3,[[1602]],[[Matteo Ricci]] produces the [[Kunyu Wanguo ...,entry_4,1602,None,Matteo Ricci produces the Map of the Myriad C...
4,[[1602]],The [[Dutch East India Company]] (VOC) is est...,entry_5,1602,None,The Dutch East India Company (VOC) is establi...

Now let's get the main links. I will assume that the first link is the main link.

In [29]:
main_link_texts = {}
main_link_urls = {}

for i, row in df.iterrows():
    text = row["wikitext_string"]
    entry = row["id"]
    wikilinks = wtp.parse(text).wikilinks
    
    target = wikilinks[0].target
    
    main_link_texts[entry] = target
    
    end_of_url =  target.replace(" ", "_")
    main_link_urls[entry] = "https://en.wikipedia.org/wiki/" + end_of_url
    
    
df["main_link_text"] = df["id"].map(main_link_texts)
df["main_link_urls"] = df["id"].map(main_link_urls)
df.head()

,date_string,wikitext_string,id,from_year,to_year,main_text,main_link,main_link_text,main_link_urls
0,[[1600]],[[Michael the Brave]] unifies the three [[Rom...,entry_1,1600,None,Michael the Brave unifies the three Romanian ...,Michael the Brave,Michael the Brave,https://en.wikipedia.org/wiki/Michael_the_Brave
1,[[1601]],"[[Battle of Kinsale]], England defeats Irish ...",entry_2,1601,None,"Battle of Kinsale, England defeats Irish and ...",Battle of Kinsale,Battle of Kinsale,https://en.wikipedia.org/wiki/Battle_of_Kinsale
2,[[1601]]–[[1603]],The [[Russian famine of 1601–1603]] kills per...,entry_3,1601,1603,The Russian famine of 1601–1603 kills perhaps...,Russian famine of 1601–1603,Russian famine of 1601–1603,https://en.wikipedia.org/wiki/Russian_famine_o...
3,[[1602]],[[Matteo Ricci]] produces the [[Kunyu Wanguo ...,entry_4,1602,None,Matteo Ricci produces the Map of the Myriad C...,Matteo Ricci,Matteo Ricci,https://en.wikipedia.org/wiki/Matteo_Ricci
4,[[1602]],The [[Dutch East India Company]] (VOC) is est...,entry_5,1602,None,The Dutch East India Company (VOC) is establi...,Dutch East India Company,Dutch East India Company,https://en.wikipedia.org/wiki/Dutch_East_India...

Now let's make an API request to Wikimedia API and get the page ids

In [30]:
import requests

page_titles = df["main_link_text"].values

In [32]:

df["main_link_id"] = df["main_link_text"].map(title_to_page_id)
df.head()

,date_string,wikitext_string,id,from_year,to_year,main_text,main_link,main_link_text,main_link_urls,main_link_id
0,[[1600]],[[Michael the Brave]] unifies the three [[Rom...,entry_1,1600,None,Michael the Brave unifies the three Romanian ...,Michael the Brave,Michael the Brave,https://en.wikipedia.org/wiki/Michael_the_Brave,2468688
1,[[1601]],"[[Battle of Kinsale]], England defeats Irish ...",entry_2,1601,None,"Battle of Kinsale, England defeats Irish and ...",Battle of Kinsale,Battle of Kinsale,https://en.wikipedia.org/wiki/Battle_of_Kinsale,1486771
2,[[1601]]–[[1603]],The [[Russian famine of 1601–1603]] kills per...,entry_3,1601,1603,The Russian famine of 1601–1603 kills perhaps...,Russian famine of 1601–1603,Russian famine of 1601–1603,https://en.wikipedia.org/wiki/Russian_famine_o...,39938514
3,[[1602]],[[Matteo Ricci]] produces the [[Kunyu Wanguo ...,entry_4,1602,None,Matteo Ricci produces the Map of the Myriad C...,Matteo Ricci,Matteo Ricci,https://en.wikipedia.org/wiki/Matteo_Ricci,7575977
4,[[1602]],The [[Dutch East India Company]] (VOC) is est...,entry_5,1602,None,The Dutch East India Company (VOC) is establi...,Dutch East India Company,Dutch East India Company,https://en.wikipedia.org/wiki/Dutch_East_India...,42737

Nice. Now I will get all the other hyperlinks, separated by " ; "

In [42]:
other_link_texts = {}
for i, row in df.iterrows():
    text = row["wikitext_string"]
    entry = row["id"]
    wikilinks = wtp.parse(text).wikilinks
    
    target = wikilinks[0].target
    
    if len(wikilinks) > 1:
        wikilinks.pop(0)
        
        targets = [link.target for link in wikilinks]
        other_link_texts[entry]= " ; ".join(targets)
    else:
        other_link_texts[entry]= None

    
df["other_link_text"] = df["id"].map(other_link_texts)
df.head()

,date_string,wikitext_string,id,from_year,to_year,main_text,main_link,main_link_text,main_link_urls,main_link_id,other_link_text
0,[[1600]],[[Michael the Brave]] unifies the three [[Rom...,entry_1,1600,None,Michael the Brave unifies the three Romanian ...,Michael the Brave,Michael the Brave,https://en.wikipedia.org/wiki/Michael_the_Brave,2468688,Romania ; Wallachia ; Moldavia ; Principality ...
1,[[1601]],"[[Battle of Kinsale]], England defeats Irish ...",entry_2,1601,None,"Battle of Kinsale, England defeats Irish and ...",Battle of Kinsale,Battle of Kinsale,https://en.wikipedia.org/wiki/Battle_of_Kinsale,1486771,None
2,[[1601]]–[[1603]],The [[Russian famine of 1601–1603]] kills per...,entry_3,1601,1603,The Russian famine of 1601–1603 kills perhaps...,Russian famine of 1601–1603,Russian famine of 1601–1603,https://en.wikipedia.org/wiki/Russian_famine_o...,39938514,None
3,[[1602]],[[Matteo Ricci]] produces the [[Kunyu Wanguo ...,entry_4,1602,None,Matteo Ricci produces the Map of the Myriad C...,Matteo Ricci,Matteo Ricci,https://en.wikipedia.org/wiki/Matteo_Ricci,7575977,Kunyu Wanguo Quantu
4,[[1602]],The [[Dutch East India Company]] (VOC) is est...,entry_5,1602,None,The Dutch East India Company (VOC) is establi...,Dutch East India Company,Dutch East India Company,https://en.wikipedia.org/wiki/Dutch_East_India...,42737,Netherlands ; Dutch Golden Age

In [38]:
wikilinks = wtp.parse("[[1601]]–[[1603]]	The [[Russian famine of 1601–1603]] kills per").wikilinks